<div class="container">
  <h3>請修改你的支出</h3>
  <form action="/records/{{ record._id }}?_method=PUT" method="POST">
    <div class="row mb-3">
      <label for="inputName" class="col-sm-2 col-form-label">名稱：</label>
      <div class="col-sm-10">
        <input class="form-control" id="inputName" name="name" value="{{ record.name }}">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputDate" class="col-sm-2 col-form-label">日期：</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" id="inputDate" name="date" value="{{ record.date }}"> 
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputCategory" class="col-sm-2 col-form-label">類別：</label>
      <div class="col-sm-10">
        <input class="form-control" id="inputCategory" name="category" value="{{ record.category }}">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputAmount" class="col-sm-2 col-form-label">金額：</label>
      <div class="col-sm-10">
        <input class="form-control" id="inputAmount" name="amount" value="{{ record.amount }}">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">送出</button>
  </form>
</div>