<div class="container mt-3" style="max-width: 750px;"> 
  <div class="dropdown d-grid">
    <button class="btn btn-secondary dropdown-toggle menu-btn" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown"
      aria-expanded="false" value="0">
      類別： {{ filterName }}
    </button>
    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
      <form action="/">
        <li><button class="dropdown-item" type="submit" name="categoryFilter" value="0">全部</button></li>
        {{#each categories}}
          <li><button class="dropdown-item" type="submit" name="categoryFilter" value="{{this._id}}">
            <i class="{{ this.icon }}"></i>
            <span class="ms-2">{{ this.name }}</span>
          </button></li>
        {{/each}}
      </form>
    </ul>
  </div>
  <div class="mt-3 d-flex justify-content-between">
    <div class="amount-title">總金額:</div>
    <div class="total-amount">{{ totalAmount }}</div>
  </div>

  <div class="list-group">
    {{#each records}}
    <div class="d-flex">
      <li class="list-group-item list-group-item-action d-flex justify-content-between" aria-current="true">
          <div class="d-flex align-items-center category">
            <i class="{{ this.icon }}"></i>
            <div class="d-flex row">
              <span class="ms-3">{{ this.name }}</span>
              <span class="ms-3">{{ this.date }}</span>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <span class="ms-3">{{ this.amount }}</span>
          </div>
      </li>
      <div class="d-flex align-items-center">
        <a class="btn btn-outline-success ms-3" href="./records/{{ this._id }}/edit"><i class="fa-solid fa-pen-to-square"></i></a>
        <form action="./records/{{ this._id }}/?_method=DELETE" method="POST" >
            <button type="submit" class="btn btn-outline-danger ms-2"><i class="fa-solid fa-trash-can"></i></button>  
        </form>
      </div>
    </div> 
    {{/each}}
  </div>
  <div class="d-grid justify-content-center">
    <a class="btn btn-primary mt-3 new-expense" href="./records/new">新增支出</a>
  </div>
</div>